body {
  background-color:  #7E4EAC;
}

div {

}

div.header {
    background-color: #FFFFFF;

}
ul{
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  overflow: hidden;
  background-color:#FFFFFF

}

li{
  display: inline;
}

/* ----------------------------above is the menu--------------------------------------- */
div.title{
  text-align: center;
  margin: 50px;
  padding: 100px;

}


div.video{
  text-align: center;
  margin: 50px;
  border: 20px solid red;
  padding: 100px;
  background-color: #D4D2F3;
}

div.worker{

}
div.about{
  margin: 50px;
  padding: 100px;
}
div.highlight{
  text-align: center;
  margin: 50px;
  border: 20px solid red;
  padding: 100px;
  background-color: #D4D2F3;

}
/* -------------footer------------- */
div.footer{
background-color: #0D2F1A;
}
div.credit{
  margin: 50px;
  padding: 100px;
}
div.disclamer{
  margin: 50px;
  padding: 100px;
}
/* -----------------Workers---------------------- */

div.lazulight{
  margin: 10px;
  padding: 15px;
  margin-right: 80%;
  background-color:#FFFFFF
}
div.obsydia{
  margin: 10px;
  padding: 15px;
  margin-right: 80%;
  background-color:#FFFFFF
}
div.ethyria{
  margin: 10px;
  padding: 15px;
  margin-right: 80%;
  background-color:#FFFFFF
}
