/* header */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #162841;
}
body {
  background-color: #FDFFFC;
}

div.header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;

}


div.header a{
      text-decoration: none;
  color: #000000;
    padding: 20px;
font-size: 1.2rem;
}

div.header a:hover{
background-color: rgba(0, 0, 0, 0.3);

}

ul{
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  overflow: hidden;
  background-color: #FBA605;

}

li{
  display: inline-block;
}
.logo{
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  z-index: 100;
}



/* ----------------------page */
#top-element{
  margin-top: 80px;
}

span {
  margin: auto;
  width: 50px;
}

.picture{
  max-height: 100%;
  width: 500;

margin: 15px;
  background-color:#FFFFFF;
border: 5px solid orange;
border-radius: 25px;

}
.image-container{
  margin: auto;
align-self: baseline;
text-align: center;
}
.description-container{
  margin: 15px;
    background-color:#FFFFFF;
  border: 5px solid orange;
  border-radius: 25px;
}

.name{
  margin: 1rem;
  background-color: #FBA605;
  border-radius: 5px;
  width: 110px;
  flex-wrap: wrap;
}

.categories{
  margin: 2rem;

  background-color: #FBA605;
align-self: center;
  border-radius: 5px;
  width: 80%;
}

div.description{
max-width: 900px;
margin:  0 auto;
padding: 0 1.5rem;
font-size: 1.1rem;
text-align: center;


}

.sociallogo{
  display: inline-block;
  cursor: pointer;
  margin-bottom: 350px;
text-align: right;
margin-left: 20%;
}
.twitter{
  display: inline-block;
  text-align: left;
  margin: auto;
margin-left: 100px;
}
.btn{
  text-align: center;
  vertical-align: middle;
  padding: .90em;
  cursor: pointer;
  width: 90px;

}

div.video{
  text-align: center;
  margin: auto;
  padding: 20px;

  background-color: #F71C72;
   width:  700px;

  border-radius: 40px;
  display: flex;

}

.button-container{
  text-align:   right;
  margin: auto;
  margin-bottom: 15px;
}


/*------------------------------- foother */
div.footer-container{
  background-color: #004AC1;
  padding: 4rem 0 4rem 0;
height: 55%;

}
div.footer{
  width: 100%;

  background-color: #004AC1;
  color: #E3F5DC;
  display: flex;
  padding-bottom: 4rem;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
div.footer-text{
display: flex;
flex-direction: column;
margin-right: 5rem;
  color: #E3F5DC;
padding-bottom: 2rem;


}

.footer-text h2{
  margin-bottom: 2rem;
    color: #E3F5DC
}
